/* Typography */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', Verdana, sans-serif;
    margin: auto;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Links */
body a {
    text-decoration: none;
    color: #005db6;
    transition: color 0.3s;
}

body a:hover {
    color: #0074e4;
}

/* Header */
header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #0074e4;
}

.nav-name {
    font-size: 24px;
    border-right: 1px solid #333333; 
    padding-right: 20px;
    margin-right: 20px;
}

/* Profile Picture */
.profile-picture {
    margin: 20px;
    float: right;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Entries */
.entry {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#projects .entry:not(.favorite) {
    display: none;
    background-color: #f2f2f2;
}

.image {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.image img {
    align-items: flex-start;
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.entry h3 {
    display: inline;
    margin-top: 0px;
}

.subtitle {
    font-size: 1.25rem;
    color: #333333;
    font-weight: normal;
}

.role {
    font-size: 1rem;
    color: #555;
}

.separator {
    margin: 0 10px;
    display: inline;
}

.content {
    font-size: 1rem;
    line-height: 1.4;
}

/* Footer */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-left {
    flex: 1;
}

.footer-left p {
    margin: 5px 0;
}

.smaller-text {
    margin-top: 5px;
    font-size: 0.75rem;
    color: #333333;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    margin-left: 20px;
}

.footer-right img {
    width: 50px;
    height: 50px;
}

/* Social Media Icons */
.linkedin-footer, .github-footer, .hf-footer, .spotify-footer {
    display: block;
    position: relative;
}

.linkedin-footer .linkedin-black, .github-footer .github-black, .hf-footer .hf-black, .spotify-footer .spotify-black {
    opacity: 1;
    transition: opacity 0.5s;
}

.linkedin-footer .linkedin-top, .github-footer .github-top, .hf-footer .hf-top, .spotify-footer .spotify-top {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
}

.linkedin-footer:hover .linkedin-black, .github-footer:hover .github-black, .hf-footer:hover .hf-black, .spotify-footer:hover .spotify-black {
    opacity: 0;
}

.linkedin-footer:hover .linkedin-top, .github-footer:hover .github-top, .hf-footer:hover .hf-top, .spotify-footer:hover .spotify-top {
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .entry {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .image img {
        width: 100px;
        height: 100px;
        margin-right: 0;
    }
}